.hidden{
    display: none;
}
#menuViewBodyWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#ingredientWrapper{
    background-color: blue;
}
table{
    background: blue;
}
.centeredHeader{
    text-align: center;
}

.menuItemTable{
    width: 80% !important;
}
