.hidden{
    display: none;
}
#menuViewBodyWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centeredHeader{
    text-align: center;
}

.menuItemTable{
    width: 80% !important;
}