.hidden{
    display: none;
}
#menuViewBodyWrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#formWrapper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}
#formWrapper form{
    width: 50%;
}
#ingredientWrapper{
    width: 40%;
}
#ingredientTable{
    background-color: #ddd;
    border-radius: 15px;
}
.dollaSign{
    position:relative;
    padding-left: 20px;
}

.dollaSign::after{
position: absolute;
    left: 6px;
    top: 2px;
    color: black;
    content: "Email Address idiot";
    background-color: blue;
}
#ingredientBody
{
    width: 100%;
    display:inline-block;
    height: 50vh;
    overflow: auto;
}
.ingredientRow{
    width: 100% !important;
    display: inline-table;
    align-items: center;
}

.isDefaultWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#ingredientHeader tr{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
}
#topWrapper{
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    margin: 4px;
}
#topWrapper h1{
    margin: 0;
}

#ingredientHeader h2{
    margin: 0;
}
#ingredientHeader{
    padding: 10px;
    border-bottom: 1px solid black;
}
#ingredientHeader td{
    display: inline-block;
    border-bottom: none;
}
#doneBtnWrapper{
    display: flex;
    justify-content: space-between;
}
.centeredHeader{
    text-align: center;
}

.menuItemTable{
    width: 80% !important;
}
#doneBtn{
    
}
